// Colors
$color-primary: #c5f100;
$color-light-gray: #d5d5d5;
$color-dark-gray: #868686;
$color-black: #000;
$color-white: #fff;
$color-error: #a00;

$default-text-color: #888;
$default-bg-color: #f8f8f8;
