section.dashboard-users-index {
  margin: auto;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .main-image {
    width: 50%;
    border-radius: 16px;
  }

  .users-card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    @include media("max", 1200px) {
      grid-template-columns: repeat(2, 1fr);
    }
  
    @include media("max", 700px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

}
